[[source]]
url = "https://ci:JovxPSkh1!@nexus.pashutin.com/repository/pypi-public/simple/"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
py-consul = "*"
pyyaml = "*"
mistralai = "*"
psycopg2-binary = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.12"
